<div class="article-list" id="article-list">
<div class="w3-row">
  <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
    <div class="w3-row">
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
    </div>
    <div class="w3-row w3-hide-small">
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
    </div>

    <div class="w3-row w3-hide-small">
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
    </div><br>
    <p>Think of the <b> human cost </b>.</p>
  </div>
  <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
    <div class="w3-row">
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
    </div>
    <div class="w3-row w3-hide-small">
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
    </div>

    <div class="w3-row w3-hide-small">
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
      <div class="w3-half">
        <img src="/images/8a9.jpg" style="width:100%">
		<p>John Smith, 35
		<br>
		CRPS, asthma and a whole host of unpleasantness</p>
      </div>
    </div><br>
    <p>Think of the <b> human cost </b>.</p>
  </div>
</div>